In [88]:
import numpy as np
import numpy_financial as npf

obecna_wartosc_mieszkania = 120000
rateM = 0.05
rateL = 0.12/12
nperL = 5*12
nperM = 5
cena_mieszkania_za_5_lat  = np.around(obecna_wartosc_mieszkania * (1 + rateM)**nperM,2)
cena_mieszkania_za_5_lat

153153.79

# Szacowana cena mieszkania po 5 latach wynosi 153153.79 zł

### Co miesiąc, przez 60 miesiecy, wrzucam tę samą kwotę x na lokatę.
Co miesiąc kwota powieksza się o 1%.
Kwota wrzucona pierwszego miesiąca będzie pracowała przez 60 miesiecy.
Także:
```
pierwszy x będzie pracował x*(1,01)**60
drugi odłozony x będzie pracował x*(1,01)**59
trzeci odłozony x będzie pracował x*(1,01)**58
...
...
...
sześcdziesiąty odłozony x będzie pracował x*(1,01)```
Sumując te wszystkie odłożone x wraz z odsetkami mamy uzyskać 153 153, 79 zł

In [89]:
periods = np.arange(60,0,-1)
periods

array([60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44,
       43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27,
       26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,
        9,  8,  7,  6,  5,  4,  3,  2,  1])

In [90]:
oprocentowanie = np.around(np.array(1.01**periods),2)
oprocentowanie

array([1.82, 1.8 , 1.78, 1.76, 1.75, 1.73, 1.71, 1.69, 1.68, 1.66, 1.64,
       1.63, 1.61, 1.6 , 1.58, 1.56, 1.55, 1.53, 1.52, 1.5 , 1.49, 1.47,
       1.46, 1.45, 1.43, 1.42, 1.4 , 1.39, 1.37, 1.36, 1.35, 1.33, 1.32,
       1.31, 1.3 , 1.28, 1.27, 1.26, 1.24, 1.23, 1.22, 1.21, 1.2 , 1.18,
       1.17, 1.16, 1.15, 1.14, 1.13, 1.12, 1.1 , 1.09, 1.08, 1.07, 1.06,
       1.05, 1.04, 1.03, 1.02, 1.01])

In [95]:
np.around(cena_mieszkania_za_5_lat/sum(oprocentowanie),2)

1857.31

# Co miesiąc należy na lokatę wpłacać 1857.31 zł, aby po 5 latach móc kupić mieszkanie za 153 153 zł.